<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kd.marketplace.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.kd.marketplace.model.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobilePhone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="officePhone" property="officePhone" jdbcType="VARCHAR" />
    <result column="signatureFile" property="signatureFile" jdbcType="VARCHAR" />
    <result column="update_name" property="updateName" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryUser" resultMap="BaseResultMap">
    SELECT * from t_s_user where id='4028940667a07dfc0167a082071b0001'
  </select>
</mapper>